:root {
  --player-height: 60px;
}

.home-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items to the top */
  background: linear-gradient(120deg, #0e5cda 0%, #479487 100%);
  flex-grow: 1;
  overflow-x: auto; /* Enable horizontal scrolling */
  margin: 0 !important;
  padding: 0 !important;
  scrollbar-color: #36a38a #f1f1f1;
}

.tile {
  width: 100%;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Ensure the tile is above other content */
}

.scrollable-div {
  flex-grow: 1;
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: white;
  width: 100%;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden; /* Prevent page scrolling */
}

.player {
  height: var(--player-height);
}

.row {
  flex-grow: 1;
  display: flex;
  height: calc(100% - var(--player-height));
  width: 100%;
  flex-wrap: nowrap; /* Prevent wrapping */
}

.column-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 5px !important;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 2.8em;
}

.column-view {
  margin: 0px !important;
  padding: 5px !important;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.track-name {
  margin-right: auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  flex: 0 0 33.3%;
}

.artist-name-solo {
  text-align: left;
  display: block;
  width: 100%;
}

.artist-names, .artist-names-playlist {
  text-align: right;
}

.artist-names-playlist {
  padding-right: 5px;
}

.arrow-right {
  position: fixed;
  top: 50%;
  left: 90%;
  transform: translateY(-50%);
  font-size: 3rem; /* Increase the size */
  color: #000; /* Change color to black */
  z-index: 1000;
  cursor: pointer;
  transition: opacity 0.3s, left 0.3s;
  animation: beatFade 2s infinite;
}

.arrow-right.hidden {
  opacity: 0;
  pointer-events: none;
}

@keyframes beatFade {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10; /* Ensure the modal overlay is above the tile */
}

.modal-90w {
  max-width: 600px;
}

.tracks-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 60vh; /* Limit the height of the tracks list */
  overflow-y: auto; /* Make the list scrollable if it overflows */
}

.track-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
