.home-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, #0e5cda 0%, #479487 100%);
}

.row {
    width: 100%;
}