.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.squared-button {
  border-radius: 0 !important; /* Remove any border-radius to make it squared */
}

.playlist-details {
  width: 100%;
}

.playlist-title-tile {
  background-color: #f8f9fa; /* Light gray background */
}

.grey-border,
.playlist-title-tile {
  border: 1px solid #d4d4d4;
  border-radius: 0; /* Rounded corners */
}

.playlist-name {
  padding-left: 10px;
}

.added-tracks .list-group-item {
  background-color: #d4edda; /* Light green background */
  border-color: #c3e6cb; /* Green border */
}

.removed-tracks .list-group-item {
  background-color: #f8d7da; /* Light red background */
  border-color: #f5c6cb; /* Red border */
}

.scrollable-list {
  height: 100%;
  overflow-y: auto;
}

.tracks-list {
  flex-direction: column;
  flex-grow: 1;
  max-height: 100%;
}

.tracks-title {
  border-bottom: 1px solid #d4d4d4;
}

.custom-link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.custom-link:hover {
  color: black;
  background-color: #e2e6ea; /* Darker grey background */
  text-decoration: none;
}

.list-group-item:hover {
  color: black;
  background-color: #e2e6ea; /* Darker grey background */
}

.list-group-item.active,
.list-group-item.active:hover {
  color: white;
  background-color: #007bff; /* Bootstrap primary color */
}

.active .text-muted {
  color: white !important; /* Override the muted color */
}
