.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100px;
  height: 50px;
}

.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.active-link {
  background-color: #007bff !important; /* Change this color to your desired background color */
  color: white !important; /* Ensure the text color contrasts with the background */
  border-radius: 5px; /* Optional: Add rounded corners */
  padding: 0.5rem 1rem; /* Optional: Add padding for better spacing */
  font-weight: bold; /* Optional: Make the active link bold */
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Full viewport height */
  text-align: center; /* Optional: Center text */
}