.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100px;
  height: 50px;
}

.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.active-link {
  font-weight: bold;
  color: #ffc107 !important; /* Bootstrap's warning color */
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Full viewport height */
  text-align: center; /* Optional: Center text */
}

.no-padding {
  padding: 0 !important; /* Remove padding */
}